/target/
!.mvn/wrapper/maven-wrapper.jar

### Eclipse ###
.classpath
.project
.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac OS Files ###
.DS_Store